<div class="react-grid-layout layout" style="height: 170px;">
    <div data-grid="[object Object]" class="react-grid-item static cssTransforms" style="width: 89px; height: 70px; position: absolute; transform: translate(10px, 10px);">a</div>
    <div data-grid="[object Object]" class="react-grid-item react-draggable cssTransforms react-resizable" style="width: 288px; height: 150px; position: absolute; touch-action: none; transform: translate(109px, 10px);"><!-- react-text: 5 -->a<!-- /react-text --><span class="react-resizable-handle" style="touch-action: none;"></span></div><div data-grid="[object Object]" class="react-grid-item react-draggable cssTransforms react-resizable" style="width: 188px; height: 150px; position: absolute; touch-action: none; transform: translate(407px, 10px);"><
    !-- react-text: 8 -->a<!-- /react-text -->
    <span class="react-resizable-handle" style="touch-action: none;">
        
    </span>
    </div>
 </div>